@use "config/responsive" as r;
@use "common" as c;

.header {
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 30;
  height: 70px;
  width: 100%;
  padding: 19px 0;

  .header-nav {
    position: relative;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: #fff;
      font-size: 2.6rem;
      font-family: c.$font-en;
    }
    .nav-items {
      display: flex;
      align-items: center;
      flex-direction: row;
      color: #fff;
      font-size: 1.6rem;
      font-family: c.$font-en;
      letter-spacing: 0.05em;

      @include r.mq(sp) {
        display: none;
      }

      .nav-item {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.js-header-color {
  background-color: c.$main-color;
  transition: 0.3s;
}
//ハンバーガーアイコン参考
//https://pengi-n.co.jp/blog/hamburger-animation/
// hamburger menu
.hamburger-menu {
  z-index: 999;
  width: 58px;
  height: 48px;
  top: 16px;
  right: 16px;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  @include r.mq(pc) {
    display: none;
  }
  .btn-line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: relative;
    transition: 0.2s;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.2s;
    }
    &::before {
      transform: translateY(-16px);
    }
    &::after {
      transform: translateY(16px);
    }
  }
}

.hamburger-nav {
  width: 100%;
  height: 100vh;
  background-color: c.$main-color;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  text-align: center;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  visibility: hidden;
  z-index: 800;

  .nav-container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 800;

    li {
      margin-bottom: 30px;
      width: 100%;

      a {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        font-family: c.$font-en;
        font-style: italic;
        display: block;
        width: 100%;
        padding: 10px 0;
      }
    }
  }
}
.hamburger-nav.active {
  opacity: 1;
  visibility: visible;
}
